VITE_SUPABASE_PROJECT_ID=pnbilvxvdryqzarkwbza1
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-U-34l_KlfG7XudknLuS5Q_-y-VbXhP1
VITE_SUPABASE_URL=https://pnbilvxvdryqzarkwbza.supabase.co
VITE_SUPABASE_SERVICE_KEY=sb_secret_ALqaw3VIDulCcqSoFAYv1g_fw3L6AvS1
VITE_TELEGRAM_BOT_TOKEN=8511473705:AAFJ1IbqH5JW4zPhp3L95yonlKy0wS5BioU1
VITE_TELEGRAM_CHAT_ID=-10037258189381
VITE_APP_NAME=AkarCloud
VITE_THEME_COLOR=#2563eb
VITE_PUBLIC_URL=https://akar-cloud.vercel.app1
VITE_MAX_FILE_SIZE=524288000
VITE_STORAGE_LIMIT=2147483648
VITE_UPLOAD_CHUNK_SIZE=10485760
VITE_USE_SINGLE_TOKEN=true
VITE_AUTO_APPROVE=true
